@page
@model SupplierRegistrationContext.Pages.Supplier.DetailsModel

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CEP)
        </dd>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier?.Id">Editar</a> |
    <a asp-page="./List">Voltar</a>
</div>
